{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}